:root{
    --blanco:#ffffff;
}
header
{
    text-align: center;
    color: var(--blanco);
}


.navegacion{
    display: flex;
    justify-content: space-between;
    background-color: rgb(139, 28, 0);
}
a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1.3rem;
}
.navegacion a:hover{
    background-color: rgb(17, 60, 155);

}

*, *:before, *:after {
    box-sizing: inherit;
}
html{
    background-color: rgb(5, 92, 87);
    box-sizing: border-box;
    font-size: 72.5%; 
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h2{
    padding: 2rem;
    text-align: center;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen__contenido{
    width: 100%;
}
.interme{
    position: relative;
    margin-bottom: 2rem;
}
.contenido{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
@media (min-width: 768px){
    .contenido{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
    }
}
.imagen__contenido{
    grid-row: 1 / 2;
}
.contenido{
    margin-left: 2rem;
}
@media (min-width:768px){
    .imagen__contenido{
        grid-column:2 / 3 ;
    }
}

/* NORMAL */
.sombra{
    box-shadow: 0px 5px 15px 0px;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 50%;
}
.sombra h3{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.normal{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

}
.normalcon{
    margin: 15px 0;
    line-height: 1.5;
}

#calculadora-normal {
    padding: 1rem;
    margin-bottom: 5rem;
    display: flex;
    font-weight: 600;
    flex-direction: column;
}


#calculadora-normal label {
    display: block;
    margin-bottom: 5px;
    color: #111010;
}

#calculadora-normal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#resultado-normal {
    margin-top: 15px;
    font-weight: bold;
}
/*BINOMIAL */
.binomial {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.binomial h3 {
    color: #020202;
}

#calculadora-binomial {
    padding: 1rem;
    margin-bottom: 5rem;
    display: flex;
    font-weight: 600;
    flex-direction: column;
}

.binomialcon p {
    margin: 15px 0;
    line-height: 1.5;
}

#calculadora-binomial label {
    display: block;
    margin-bottom: 5px;
    color: #111010;
}

#calculadora-binomial input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#resultado-binomial {
    margin-top: 15px;
    font-weight: bold;
}


/*POISSON */
.poisson{
    padding: 20px;
    margin: 20px;
}
#calculadora-poisson{
    padding: 1rem;
    margin-bottom: 5rem;
    display: flex;
    font-weight: 600;
    flex-direction: column;
}
button{
    background-color:#afa9a9;
    padding: 1rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 700;

}
label{
    padding: 1.3rem;
    font-size: 1.6rem;
    color: var(--blanco);
    font-weight: 600;
}
#calculadora-poisson {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#calculadora-poisson label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#calculadora-poisson input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.boton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#resultado-poisson {
    margin-top: 15px;
    font-weight: bold;
}
/*//////////*/
.poisson {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.poisson h3 {
    color: #333;
}

.poisocon p {
    margin: 15px 0;
    line-height: 1.5;
}
